@{
    ViewBag.Title = "Аннотация";   
}

<div class="logo">
    <img src="/Content/Logo.png" alt="Logo"/>
</div>
    
<div class="title">
    <h1>@ViewBag.Title</h1>
</div>

<div class="textMessage_type_A">

    <h5>
        Данное веб-приложение представляет собой тестовую разработку мобильной версии сайта firstimedeveloper.boxhost.me.
        Функциональность включает возможность регистрации пользователей 
        с целью последующего размещения и демонстрации на сайте своих изображений, сгрупированных в коллекции.
        Администратор от лица владельца сайта формирует первичный контент - коллекции фотографий, графических изображений, видеоматериалов.
        В дальнейшем с помощью инструментов администрирования возможно удалять/редактировать наборы медиа-данных. 
        Администратор также имеет возможность управлять персональными данными пользователей - 
        удалять зарегистрированных участников сообщества, редактировать профиля, данные учетных записей. 
        Веб-приложение предусматривает альтернативное резервное копирование БД в XML-файл, а также соответствующее восстановление.
    </h5>

    <br />

    <h5>        
        Практическая реализация построена на использовании принципов инверсии управления (Unity IoC)
        с целью расширения подключений к всевозможным БД (в том числе файлам XML),
        а также переопределении собственными провайдеров членства, ролей и профилей.
        Текущая аутентификация и авторизация обеспечивается СУБД Microsoft SQL Server.
        В качестве наглядного примера гибкого интерфейса БД среди классов присутствует реализация взаимодействия с PostgreSQL (протестировано на локальном сервере).
        Приложение написано на языке программирования C#, платформа ASP.NET, шаблон MVC 4, движок представлениий Razor.
        Пользовательские функции работы с данными реализованы с использованием технологии Entity Framework.
        Инструменты администрирования  включают более производительный подход - прямые  SQL-запросы к БД.
        Также в ходе разработки было создано приложение Windows Forms, позволяющее напрямую обращаться к БД веб-приложения
        с целью оперативного управления. Верстка сайта - HTML с применением CSS.
        В некоторых случаях в интерактивном пользовательском интерфейсе использованы методы AJAX.
        Среда разработки - Microsoft Visual Studio 2010.    
    </h5>

</div>

<div class="footer">
    <h5>
        @Html.ActionLink("На главную","Index","Home")
    </h5>
</div>
