@{
    ViewBag.Title = "Контакты";   
}

<div class="logo">
    <img src="/Content/Logo.png" alt="Logo"/>
</div>
    
<div class="title">
    <h1>@ViewBag.Title</h1>
</div>

<div class="textMessage_type_A">
    <h5>
        E-mail: amorbc@mail.ru
    </h5>
</div>

<div class="footer">
    <h5>
        @Html.ActionLink("На главную","Index","Home")
    </h5>
</div>
