@{
    ViewBag.Title = "Услуги";   
}


<div class="logo">
    <img src="/Content/Logo.png" alt="Logo"/>
</div>
    
<div class="title">
    <h1>@ViewBag.Title</h1>
</div>

<div class="warring">
<h4>
    К сожалению, страница сайта находится в разработке. Приносим свои извинения
</h4>
</div>

<div class="footer">
    <h5>
        @Html.ActionLink("На главную","Index","Home")
    </h5>
</div>
